# Node.js
node_modules/
npm-debug.log*
.env
.DS_Store

# Turborepo
.turbo/
cache/

# Next.js
apps/web/node_modules/
apps/web/.next/

# NestJS
apps/api/node_modules/
apps/api/dist/

# Prisma
apps/api/prisma/migrations/

# React Native
apps/mobile/node_modules/
apps/mobile/ios/Pods/
apps/mobile/android/app/build/
apps/mobile/ios/build/
